---

---
<div class="flex flex-col items-center">
<div class="w-[525px]">
  <h2 class="text-5xl text-center font-semibold text-pretty">
    Starve your distractions<span class="bg-gradient">.</span>
    Feed your <span class="shadow-text"> <span class="bg-gradient">focus.</span>
  </h2></span>
  <p class="py-8 text-neutral-400 font-semibold text-center text-lg">
    Designed for busy professionals, creatives, and those on a path to personal growth.
  </p>
</div>
<div>
  <img src="/notion.png" alt="notion cover">
</div>
</div>

<style>

</style>