---
import { config } from "../../config";
---
<div class="flex flex-col items-center">
  <div class="w-[620px]">
    <h2 class="text-5xl text-center font-semibold text-pretty">
      Join the frontend development journey with this amazing 
      <span class="bg-gradient"><span class="shadow-text">roadmap </span></span>
    </h2>
    <p class="py-8 text-neutral-400 font-semibold text-center text-lg">
      Learn React JS, master UI libraries, and deploy your own projects!
    </p>
  </div>
  <div class="flex items-center pt-8 space-x-4">
    <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r border-cyan-500 border rounded-3xl text-2xl text-white/90" target="_blank" href={config.gumroad_link}>Get Roadmap</a>
  </div>
  <div class="flex flex-col items-center w-[1000px] p-16 gap-y-24">
    <div class="flex gap-x-12 justify-center items-center">
      <article class="">
        <h3 class="text-4xl font-semibold">
          Select from 5 themes
        </h3>
        <p class="text-neutral-400 py-4 text-lg font-semibold">
          Suit your aesthetic preferences with a selection of 5 dashboard themes in both light & dark modes.
        </p>
      </article>
      <img class="rounded-md w-2/4" src="/shot3.png" alt="cover">
    </div>
    <div class="flex gap-x-12 justify-center items-center">
      <img class="rounded-md w-2/4" src="/top1.png" alt="cover">
      <article class="w-2/4">
        <h3 class="text-4xl font-semibold">
          Manage your projects, tasks, and time
        </h3>
        <p class="text-neutral-400 py-4 text-lg font-semibold">
          Stay on top of your deadlines by managing your 
          projects, tasks, and time with the Notion calendar.
        </p>
      </article>
    </div>
    <div class="flex gap-x-12 justify-center items-center">
      <article>
        <h3 class="text-4xl font-semibold">
          Track and visualize your progress
        </h3>
        <p class="text-neutral-400 py-4 text-lg font-semibold">
          Achieve your frontend development goals faster with our customizable roadmap
        </p>
      </article>
      <img class="rounded-md w-2/4" src="/shot1.png" alt="cover">
    </div>
    <div class="flex gap-x-12 justify-center items-center">
      <img class="rounded-md w-2/4" src="/top2.png" alt="cover">
      <article>
        <h3 class="text-4xl font-semibold">
          Organize your Notion pages & Resources
        </h3>
        <p class="text-neutral-400 py-4 text-lg font-semibold">
          Organize all your individual Notion pages 
          and templates into your different tools and resources.
        </p>
      </article>
    </div>
  </div>
</div>