<div class="flex flex-col items-center">
<div class="w-[620px]">
  <h2 class="text-5xl text-center font-semibold text-pretty">
    Planned for the 
    <span class="bg-gradient"><span class="shadow-text">future </span></span>
  </h2>
  <p class="py-8 text-neutral-400 font-semibold text-center text-lg">
    Templates to master frontend, backend and mobile app development, find your next job.
  </p>
</div>
<div>
  <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r border-cyan-500 border rounded-3xl text-2xl text-white/90" href="#faq">Get Full Stack Roadmap</a>
</div>
</div>