---
import PricingCard from "../pricing-card.astro";


---
<div class="flex flex-col items-center">
  <div class="w-[620px]">
    <h2 class="text-5xl text-center font-semibold text-pretty">
      A more productive organized efficient <span class="bg-gradient"><span class="shadow-text">optimized</span></span>
      life awaits you.
      
    </h2>
    <p class="py-8 text-neutral-400 font-semibold text-center text-lg">
      This Fronted development Pro dashboard will help you 
      turn your procrastination into focus.
    </p>
  </div>

  <div class="text-center w-[820px]">
    <div class="py-12">
      <h2 class="text-4xl font-semibold">
        Pricing
      </h2>
      <p class="py-8 text-neutral-400 font-semibold text-lg">
        No subscriptions. One price for lifetime access.
      </p>
    </div>
    <PricingCard/>
  </div>
</div>

<style>

</style>