---
import Layout from '../layouts/Layout.astro';
import Section from '../components/section.astro';

import Hero from '../components/sections/hero.astro';
import Feature from '../components/sections/feature.astro';
import Info from '../components/sections/info.astro';
import Templates from '../components/sections/templates.astro';
import Pricing from '../components/sections/pricing.astro';
import Planned from '../components/sections/planned.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-[1080px] mx-auto text-white">
		<Section>
			<Hero/>
		</Section>
		<Section>
			<Feature/>
		</Section>
		<Section>
			<Info/>
		</Section>
		<Section>
			<Templates/>
		</Section>
		<Section>
			<Pricing/>
		</Section>
		<Section>
			<Planned/>
		</Section>
	</main>
</Layout>

<style>
/* 	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */
</style>
