<div class="border-t border-neutral-600 w-full pt-12 px-6 pb-28">
  <footer class="max-w-[1080px] mx-auto flex flex-col gap-16">
    <div class="flex justify-between">
      <div class="flex flex-col gap-9">
        <div>
          logo
        </div>
        <div>
          social media
        </div>
      </div>

      <div class="flex flex-col gap-9 h-min justify-start items-end w-min">
        <div>
          <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r from-cyan-500 to-blue-500 rounded-3xl font-normal text-base text-white/90" href="#faq">Get Roadmap</a>
        </div>
        <div class="flex flex-row w-min gap-10">
          <div>
            <a href="">Pricing</a>
          </div>
          <div>
            <a href="">Pricing</a>
          </div>
          <div>
            <a href="">Pricing</a>
          </div>
          <div>
            <a href="">Pricing</a>
          </div>
          <div>
            <a href="">Pricing</a>
          </div>
        </div>
      </div>
    </div>


    <div>
      <div class="flex flex-row justify-between">
        <div>
          <p class="text-xs text-neutral-400">
            © 2024 Lexand. All Rights Reserved
          </p>
        </div>
        <div>
          <p class="text-xs text-neutral-400">
            Disclaimer: This product is not affiliated with Notion.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>