---

---
<header class="max-w-[1080px] mx-auto">
<div class="flex items-center p-4">
  <div class="font-semibold text-lg">
    Logo
  </div>
  <div class="flex items-center ml-auto text-lg font-medium space-x-4">
    <a class="block text-neutral-500 hover:text-neutral-200 transition pb-2 pt-1 px-4" href="#pricing">Pricing</a>
    <a class="block text-neutral-500 hover:text-neutral-200 transition pb-2 pt-1 px-4" href="#faq">FAQs</a>
    <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r from-cyan-500 to-blue-500 rounded-3xl text-base text-white/90" href="#faq">Get Roadmap</a>
  </div>
</div>
</header>

<style>

</style>