<div class="flex gap-x-4 items-start">
  <article class="border rounded-2xl border-[#262626] w-2/4 p-2 relative overflow-hidden bg-card">
    <div class="flex justify-between w-full p-4 gap-x-4">
      <h3 class="text-2xl font-semibold">
        Frontend Dev Pro
      </h3>
      <p class="text-4xl font-semibold inline-block">
        $29
      </p>
    </div>
    <div class="p-4">
      <ul class="flex flex-col items-start text-neutral-400 font-normal leading-loose">
        <li>
          ✓ 5 themes
        </li>
        <li>
          ✓   Access to lifetime updates
        </li>
        <li>
          ✓ 9 Individual templates
        </li>
      </ul>  
    </div>      
    <div class="absolute rounded-[inherit] origin-center rotate-45 bottom-[-136px] blur-3xl left-[187px] opacity-50 w-[251px] z-10 h-40">
      <img class="block w-full h-full rounded-[inherit]" src="/go.png" alt="cover">
    </div>
    <div class="flex items-start pl-4 py-4">
      <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r border-cyan-500 border rounded-3xl text-xl text-white/90" href="#faq">Get it now</a>
    </div>
  </article>


  <article class="border rounded-2xl border-[#262626] w-2/4 pt-2 px-0.5 pb-0.5 relative overflow-hidden bg-card-pro">
    <h3 class="text-black font-medium text-lg">
      Pay Once Lifetime Deal
    </h3>
    <div class="bg-card rounded-b-2xl">
      <div class="flex justify-between w-full p-4 gap-x-4">
        <h3 class="text-2xl font-semibold">
          Developer excellence
        </h3>
        <p class="text-4xl font-semibold inline-block">
          $99
        </p>
      </div>
      <div class="p-4">
        <ul class="flex flex-col items-start text-neutral-400 font-normal leading-loose">
          <li>
            ✓ Pay once, use forever
          </li>
          <li>
            ✓ Access to lifetime updates
          </li>
          <li>
            ✓ Student OS Dashboard
          </li>
          <li>
            ✓ All future updates
          </li>
          <li>
            ✓ Habit Tracker Hub
          </li>
        </ul>  
      </div>      
      <div class="absolute rounded-[inherit] origin-center -rotate-12 bottom-[-120px] blur-3xl left-[187px] opacity-50 w-[251px] z-10 h-40">
        <img class="block w-full h-full rounded-[inherit]" src="/go.png" alt="cover">
      </div>
        <div class="flex items-start pl-4 py-4">
          <a class="block hover:opacity-80 transition pb-2 pt-1 px-5 bg-gradient-to-r from-cyan-500 to-blue-500 rounded-3xl text-xl text-white/90" href="#faq">Get it now</a>
        </div>
      </div>
  </article>
</div>

<style>
.bg-card {
  background-image: linear-gradient(246deg, #171717 0%, rgb(23, 23, 23) 100%);
}
.bg-card-pro {
  background-image: linear-gradient(100deg, hsl(180, 87%, 42%) 0%, hsl(209, 66%, 37%) 100%);
}
</style>